@(formulario: Form[Exercicio], cursos: List[Curso], exercicio: Exercicio)
@import tags._
@import helper.twitterBootstrap._
@import helper._
@import helper.{FieldConstructor}
@implicitField = @{ FieldConstructor(bootstrap.form.bootstrap.f) }

@main {
	<div class="row">
		<div class="span12">
			<div class="page-header">
				<h1>Edição do Exercício: @exercicio.titulo</h1>
			</div>
			
			@form(action = routes.Exercicios.editar(exercicio.id), 'style -> "margin:0;"){
				@inputText(formulario("titulo"), 'id -> "titulo", 'class -> "span8", '_label -> "Título do Exercício: ", '_showConstraints -> false, '_showErrors -> true)
				
				<div class="clearfix " id="idCurso_field">
					<label for="idCurso">Curso do Exercício:</label>
					<div class="input">
						<select id="idCurso" name="idCurso" class="span5">
							@for(curso <- cursos) {
							  <option @if(exercicio.curso.id == curso.id){ selected="selected" } value="@curso.id">@curso.titulo</option>
							}						
						</select>
						<span class="help-inline"></span>
						<span class="help-block"></span>
					</div>
				</div>
				
				@inputText(formulario("nivelExercicio"), 'id -> "nivelExercicio", 'rows -> "15", 'class -> "span2", '_label -> "Nível do Exercício: ", '_showConstraints -> false, '_showErrors -> true)
				@inputText(formulario("pontuacao"), 'id -> "pontuacao", 'rows -> "15", 'class -> "span2", '_label -> "Pontuação do Exercício: ", '_showConstraints -> false, '_showErrors -> true)
				@textarea(formulario("descricao"), 'id -> "descricao", 'rows -> "15", 'class -> "span10", '_label -> "Descrição do Exercício: ", '_showConstraints -> false, '_showErrors -> true)
				@textarea(formulario("estruturaMetodoProposto"), 'id -> "estruturaMetodoProposto", 'rows -> "10", 'class -> "span10", '_label -> "Corpo Proposto para o Método: ", '_showConstraints -> false, '_showErrors -> true)
				@textarea(formulario("solucaoProposta"), 'id -> "solucaoProposta", 'rows -> "10", 'class -> "span10", '_label -> "Solução Proposta para o Exercício: ", '_showConstraints -> false, '_showErrors -> true)
				@textarea(formulario("casoDeTeste"), 'id -> "casoDeTeste", 'rows -> "10", 'class -> "span10", '_label -> "Caso de Teste para o Exercício:", '_showConstraints -> false, '_showErrors -> true)
				
				<button type="submit" class="btn btn-primary">Editar o Exercício</button>
				&nbsp;
				<a class="btn" href="@routes.Exercicios.index" >Cancelar</a>
			}
			
		</div>
	</div>	
}

<script type="text/javascript" src="@routes.Assets.at("tinymce/tiny_mce.js")"></script>
<script type="text/javascript">
$(document).ready(function(){
	$(".navbar .nav:nth-child(1) > li:nth-child(3)").addClass("active");
	
	tinyMCE.init({
		mode : "exact",
		elements : "descricao",
		language: "pt"
	});
});
</script>