@(exercicios: List[Exercicio])
@import tags._
@import helpers.SegurancaHelpers.InformacoesUsuarioHelper._

@main {
	<div class="row">
		<div class="span12">
			<div class="page-header" style="overflow:hidden;">
				<h1 style="float:left;">Listagem dos Exercícios</h1>
				
				@if(isLogado()) {
					@if(getUsuarioLogado().isProfessor) {
					<div style="float:right; position:relative; top:8px;">
						<a href="@routes.Exercicios.formulario" class="btn"><i class="icon-plus"></i> Cadastrar Novo Exercício</a>
					</div>
					}
				}
			</div>
			
			@if(exercicios.size == 0) {
				<h3>Nenhum exercício cadastrado.</h3>			
			} else {
				@for(exercicio <- exercicios) {
				<div class="item-lista">
					<div class="item-lista">
						<div class="item">
							<h2>
								<a href="@routes.Exercicios.visualizar(exercicio.id)">
									@exercicio.titulo
									<small>
									- @exercicio.curso.getTitulo
									</small>
								</a>
							</h2>
							<div style="font-size:12px;">
								Nível de Dificuldade: <strong>@exercicio.nivelExercicio</strong> <br/>
								Autor: <strong>@exercicio.autor.getNome</strong>
							</div>						
						</div>
						
						<div style="float:right; padding-top:15px;">
							<a href="@routes.Exercicios.visualizar(exercicio.id)" class="btn btn-primary"><i class="icon-white icon-list-alt"></i> Visualizar o Exercício</a>
							
							@if(isLogado()) {
								@if(getUsuarioLogado().isProfessor) {
									<a href="@routes.Exercicios.editar(exercicio.id)" class="btn"><i class="icon-edit"></i> Editar</a>
									<a href="@routes.Exercicios.deletar(exercicio.id)" onclick="return confirm('Deseja realmente excluir o exercício &quot;@exercicio.titulo&quot;?')" class="btn"><i class="icon-remove"></i> Excluir</a>
								}
							}
						</div>
					</div>
				</div>
				}
			}
		</div>
	</div>	
}

<script type="text/javascript">
$(document).ready(function(){
	$(".navbar .nav:nth-child(1) > li:nth-child(3)").addClass("active");
});
</script>