@(exercicio: Exercicio)
@import tags._
@import helper._
@import helper.twitterBootstrap._
@import helpers.SegurancaHelpers.InformacoesUsuarioHelper._

@main {
	<div class="row">
		<div class="span12">
			<div class="page-header" style="overflow:hidden;">
				<h1 class="pull-left">
					@exercicio.titulo
					<small> 
						- @exercicio.curso.getTitulo <br/>
						Escrito por: @exercicio.autor.getNome
						
						<br/>
						<span class="label label-info">Nível: @exercicio.nivelExercicio</span>
						<span class="badge badge-inverse">@exercicio.pontuacao Pontos</span>
					</small>
				</h1>
				
				@if(isLogado()) {
					@if(getUsuarioLogado().isProfessor) {
					<div style="float:right; position:relative; top:8px;">
						<a href="@routes.Exercicios.editar(exercicio.id)" class="btn"><i class="icon-edit"></i> Editar</a>
						<a href="@routes.Exercicios.deletar(exercicio.id)" onclick="return confirm('Deseja realmente excluir o exercício &quot;@exercicio.titulo&quot;?')" class="btn"><i class="icon-remove"></i> Excluir</a>
					</div>
					}
				}
			</div>
			
			<div class="row">
				<div class="span5">
					<h3 class="page-header">Descrição do Exercício</h3>
					
					@Html(exercicio.descricao)
					
					<div class="row">
						<div class="span5">
							<h3 class="page-header">Método Proposto para o Exercício</h3>
							<pre>
								@exercicio.estruturaMetodoProposto
							</pre>
						</div>
					</div>
				</div>
				
				<div class="span5 offset1">
						<div class="span5">
							<h3 class="page-header">Solução Proposta para o Exercício</h3>
							<pre>
								@exercicio.solucaoProposta
							</pre>
						</div>
						
						<div class="span5">
							<h3 class="page-header">Caso de Teste para o Exercício</h3>
							<pre>
								@exercicio.casoDeTeste
							</pre>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
}

<script type="text/javascript">
$(document).ready(function(){
	$(".navbar .nav:nth-child(1) > li:nth-child(2)").addClass("active");
});
</script>