@(formulario: Form[forms.ExercicioForm], formularioDuvida: play.data.Form[forms.DuvidaExercicioForm], exercicio: Exercicio, resultadoTeste: List[helpers.ResultadoTeste])
@import tags._
@import helpers.SegurancaHelpers.InformacoesUsuarioHelper._
@import helper.{FieldConstructor}
@implicitField = @{ FieldConstructor(bootstrap.form.bootstrap.f) }

@main {
	<div class="row">
		<div class="span12">
			<div class="page-header" style="overflow:hidden;">
				<h1>
					@exercicio.titulo
					<small> 
						- @exercicio.curso.getTitulo <br/>
						Escrito por: @exercicio.autor.getNome
						
						<br/>
						
						<span class="label label-info">Nível: @exercicio.nivelExercicio</span>
						@if(isExercicioResolvido(exercicio.id)) {
							<span class="label label-success">Resolvido - @getExercicioResolvido(exercicio.id).pontuacaoObtida Pontos Obtidos!</span>
						} else {
							<span class="badge badge-inverse">@exercicio.pontuacao Pontos</span>
						}
					</small>
				</h1>
			</div>
			
			<div class="row">
				<div class="span5">
					@Html(exercicio.descricao)
					
					@if(resultadoTeste != null) {
						@if(!resultadoTeste.isEmpty) {
							<div class="row">
								<div class="span5">
									<h3 class="page-header">Avaliação da Resposta</h3>
	
							<table class="table table-bordered table-condensed">
								<thead>
									<tr>
										<th>Valor Esperado</th>
										<th>Valor Recebido</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
								@for(resultado <- resultadoTeste) {
									<tr>
										<td>@resultado.nomeMetodo => @resultado.valorEsperado</td>
										<td>@resultado.valorRecebido</td>
										<td>@if(resultado.testePassou) { 
											<span class="label label-success">Passou!</span> 
											} else {
											 <span class="label label-important">Falhou!</span>
											}
										</td>
									</tr>
								}
								</tbody>
							</table>
						</div>
							</div>
						}
					}
				</div>
				<div class="span6 offset1">
					@if(!isExercicioResolvido(exercicio.id)) {
						@helper.form(action = routes.Exercicios.avaliarResposta(exercicio.id), 'id -> "formulario", 'style -> "margin:0;") {
							@helper.textarea(formulario("resposta"), 'id -> "resposta", 'rows -> "15", 'class -> "span6", '_label -> "Resposta: ", '_showConstraints -> false, '_showErrors -> true)
							
							<input type="hidden" id="estruturaMetodoProposto" name="estruturaMetodoProposto" value="@exercicio.estruturaMetodoProposto">
							
							<button type="submit" class="btn btn-success">Submeter Resposta</button>
							&nbsp;
							<a href="javascript:void(0)" data-toggle="modal" id="btnMostrarSolucao" class="btn btn-danger">Mostrar Solução</a>
							&nbsp;
							<a class="btn btn-info" href="javascript:void(0)" data-toggle="modal" id="btnEnviarDuvida">Enviar Dúvida</a>
							&nbsp;
							<a class="btn btn-inverse" href="javascript:void(0)" id="btnLimpar" >Limpar</a>
							&nbsp;
							<a class="btn" href="@routes.Cursos.visualizar(exercicio.curso.id)" >Cancelar</a>
						}
					} else {
						<h3>Resposta Submetida:</h3><br/>
						<pre>@getExercicioResolvido(exercicio.id).respostaSubmetida</pre><br/>
						<a class="btn btn-info" href="javascript:void(0)" data-toggle="modal" id="btnEnviarDuvida">Enviar Dúvida sobre este Exercício</a>
						&nbsp;
						<a class="btn btn-danger" href="@routes.Exercicios.descartarResposta(exercicio.id)" onClick="return confirm('ATENÇÃO: Ao DESCARTAR sua resposta você PERDERÁ os pontos obtidos com a mesma. \n\nDeseja realmente descartar sua resposta e para poder submeter o exercício novamente?')">Descartar minha Resposta</a>
					}
				</div>
			</div>
		</div>
	</div>	
	
	<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Solução proposta para o Exercício</h3>
	  </div>
	  <div class="modal-body">
	  	<pre id="solucaoExercicio">

	  	</pre>
	  </div>
	  <div class="modal-footer">
	  	<a href="javascript:void(0)" class="btn btn-primary">Copiar o Código!</a>
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
	  </div>
	</div>
	
	<div class="modal hide fade" id="modalEnviarDuvida" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Enviar Dúvida para os Professores</h3>
	  </div>
	  <div class="modal-body">
	  	@helper.form(action = routes.Exercicios.enviarDuvida(exercicio.id), 'id -> "formularioDuvida", 'style -> "margin:0;") {
	  		@helper.inputText(formularioDuvida("titulo"), 'style -> "width:98%;", '_label -> "Nome: ")
	  		@helper.textarea(formularioDuvida("mensagem"), 'id -> "mensagem", 'rows -> "10", 'style -> "width:98%;",  '_label -> "Mensagem: ", '_showConstraints -> false, '_showErrors -> true)
	  	}
	  </div>
	  <div class="modal-footer">
	  	<a href="javascript:void(0)" onclick="$('#formularioDuvida').submit();" class="btn btn-primary">Enviar Mensagem!</a>
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
	  </div>
	</div>
}

<!-- ShowLoading Jquery Plugin -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/showLoading/css/showLoading.css")">
<script src="@routes.Assets.at("javascripts/showLoading/js/jquery.showLoading.min.js")" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function(){
	$(".navbar .nav:nth-child(1) > li:nth-child(2)").addClass("active");
	
	$('#formulario').bind('submit', function() {
		$('#formulario').showLoading();
	});

	$('#formularioDuvida').bind('submit', function() {
		$('#formularioDuvida').showLoading();
	});
	
	$("#btnMostrarSolucao").click(function(){
		$.ajax({
			  url: '@routes.Exercicios.mostrarSolucao(exercicio.id)',
			  beforeSend: function(){
				  $('#formulario').showLoading();
			  },
			  success: function(data) {
				  $('#formulario').hideLoading();
				  $('#solucaoExercicio').html(data);
				  $("#myModal").modal();
			  }
		});
	});

	$("#btnEnviarDuvida").click(function(){
		$("#modalEnviarDuvida").modal();
	});
	
	$("#btnLimpar").click(function(){
		var estruturaMetodoProposto = $("#estruturaMetodoProposto").val();

		$("#resposta").val(estruturaMetodoProposto);
	});
});
</script>