@(loginForm: Form[Usuario])
@import tags._
@import helper._
@import helper.twitterBootstrap._

@main {
	<div class="well" style="width:280px; margin:0 auto;">
   		@helper.form(action = routes.Sessions.solicitarRedefinicaoSenha(), 'style -> "margin:0;") {
   			<fieldset>
   				<legend>Esqueci minha Senha</legend>
   				@helper.inputText(loginForm("email"), 'class -> "span3", '_label -> "Email: ", '_showConstraints -> false, '_showErrors -> true)
   				<input type="submit" value="Resetar a minha senha!" class="btn btn-primary">
   				<a href="@routes.Sessions.login" class="btn">Cancelar</a>
   			</fieldset>
   		}
  	</div>
}

<script type="text/javascript">
	$(document).ready(function(){
		$(".navbar .nav:nth-child(2) > li:nth-child(3)").addClass("active");
	});
</script>