@(formulario: Form[forms.AlterarSenhaForm])
@import tags._
@import helper._
@import helper.twitterBootstrap._

@main {
	<div class="well" style="width:280px; margin:0 auto;">
   		@helper.form(action = routes.Sessions.alterarSenha(), 'style -> "margin:0;") {
   			<fieldset>
   				<legend>Alterar minha Senha</legend>
   				@helper.inputPassword(formulario("senhaAtual"), 'class -> "span3", '_label -> "Senha Atual: ")
   				@helper.inputPassword(formulario("novaSenha"), 'class -> "span3", '_label -> "Nova Senha: ")
   				@helper.inputPassword(formulario("novaSenhaConfirmacao"), 'class -> "span3", '_label -> "Confirmação da Nova Senha: ")
   				<input type="submit" value="Alterar Minha Senha!" class="btn btn-primary">
   				<a href="@routes.Application.index" class="btn">Cancelar</a>
   			</fieldset>
   		}
  	</div>
}

<script type="text/javascript">
	$(document).ready(function(){
		$(".navbar .nav:nth-child(2) > li:nth-child(3)").addClass("active");
	});
</script>