@(loginForm: Form[forms.LoginForm])
@import tags._
@import helper._
@import helper.twitterBootstrap._

@main {
	<div class="well" style="width:280px; margin:0 auto;">
   		@helper.form(action = routes.Sessions.efetuarLogin(), 'style -> "margin:0;") {
   			<fieldset>
   				<legend>Acessar minha Conta</legend>
   				@helper.inputText(loginForm("login"), 'class -> "span3", '_label -> "Login: ")
   				@helper.inputPassword(loginForm("senha"), 'class -> "span3", '_label -> "Senha: ")
   				<input type="submit" value="Acessar!" class="btn btn-primary">
   				<a href="@routes.Sessions.esqueciSenha" class="btn">Esqueci minha Senha!</a>
   			</fieldset>
   		}
  	</div>
}

<script type="text/javascript">
	$(document).ready(function(){
		$(".navbar .nav:nth-child(2) > li:nth-child(3)").addClass("active");
	});
</script>