@(formulario: Form[Download], categoriasDownload: List[CategoriaDownload], download: Download)
@import tags._
@import helper.twitterBootstrap._
@import helper._
@import helper.{FieldConstructor}
@implicitField = @{ FieldConstructor(bootstrap.form.bootstrap.f) }


@main {
	<div class="row">
		<div class="span12">
			<div class="page-header" style="overflow:hidden;">
				<h1 style="float:left;">Edição do Download: @download.nome</h1>
				
				<!-- <div style="float:right; position:relative; top:8px;">
					<a href="@routes.Cursos.formulario" class="btn btn-primaty"><i class="icon-plus"></i> Cadastrar Nova Categoria de Download</a>
				</div> -->
			</div>
			
			@helper.form(action = routes.Downloads.editar(download.id), 'style -> "margin:0;"){
				@helper.inputText(formulario("nome"), 'id -> "nome", 'class -> "span5", '_label -> "Nome do Download: ", '_showConstraints -> false, '_showErrors -> true)
				@helper.inputText(formulario("url"), 'id -> "url", 'class -> "span6", '_label -> "URL do Download: ", '_showConstraints -> false, '_showErrors -> true)
				
				<div class="clearfix " id="idCategoria_field">
					<label for="idCategoria">Categoria do Download:</label>
					<div class="input">
						<select id="idCategoria" name="idCategoria">
							@for(categoriaDownload <- categoriasDownload) {
							  <option @if(download.categoria.id == categoriaDownload.id){ selected="selected" } value="@categoriaDownload.id">@categoriaDownload.nome</option>
							}						
						</select>
						<span class="help-inline"></span>
						<span class="help-block"></span>
					</div>
				</div>
				
				<br/>
				
				<button type="submit" class="btn btn-primary">Editar Download</button>
				&nbsp;
				<a class="btn" href="@routes.Downloads.index" >Cancelar</a>
			}
		</div>
	</div>	
}

<script type="text/javascript">
$(document).ready(function(){
	$(".navbar .nav:nth-child(1) > li:nth-child(4)").addClass("active");
});
</script>