@(downloads: List[Download])
@import tags._
@import helper._
@import helpers.SegurancaHelpers.InformacoesUsuarioHelper._

@main {
	<div class="row">
		<div class="span12">
			<div class="page-header" style="overflow:hidden;">
				<h1 style="float:left;">Listagem dos Downloads</h1>
				
				<div style="float:right; position:relative; top:8px;">
					<a href="@routes.Downloads.formulario" class="btn"><i class="icon-plus"></i> Cadastrar Novo Download</a>
				</div>
			</div>
			
			@if(downloads.size == 0) {
				<h3>Nenhum Download cadastrado.</h3>			
			} else {
				@for(download <- downloads) {
					<div class="item-lista">
						<div class="item">
							<h3>
								<a href="@download.url">@download.nome</a>
							</h3>
							<div style="font-size:12px;">Categoria: @download.categoria.getNome</div>						
						</div>
						
						<div style="float:right; padding-top:15px;">
							<a href="@download.url" target="_blank" class="btn btn-primary"><i class="icon-white icon-download-alt"></i> Fazer o Download</a>
							<a href="@routes.Downloads.editar(download.id)" class="btn"><i class="icon-edit"></i> Editar</a>
							<a href="@routes.Downloads.deletar(download.id)" onclick="return confirm('Deseja realmente excluir o download &quot;@download.nome&quot;?')" class="btn"><i class="icon-remove"></i> Excluir</a>
						</div>
					</div>
				}
			}
		</div>
	</div>	
}

<script type="text/javascript">
$(document).ready(function(){
	$(".navbar .nav:nth-child(1) > li:nth-child(4)").addClass("active");
});
</script>