@(formulario: Form[CategoriaDownload])
@import tags._
@import helpers.SegurancaHelpers.InformacoesUsuarioHelper._
@import helper.twitterBootstrap._
@import helper._
@implicitField = @{ FieldConstructor(bootstrap.form.bootstrap.f) }

@main {
	<div class="row">
		<div class="span12">
			<div class="page-header" style="overflow:hidden;">
				<h1 style="float:left;">Cadastro de Categoria de Download</h1>
			</div>
			
			@helper.form(action = routes.CategoriasDownload.cadastrar(), 'style -> "margin:0;"){
				@helper.inputText(formulario("nome"), 'id -> "nome", 'class -> "span5", '_label -> "Nome da Categoria de Download: ", '_showConstraints -> false, '_showErrors -> true)
				@helper.textarea(formulario("descricao"), 'id -> "descricao", 'rows -> "10", 'class -> "span5", '_label -> "Descrição: ", '_showConstraints -> false, '_showErrors -> true)
				
				<button type="submit" class="btn btn-primary">Cadastrar Categoria de Download</button>
				&nbsp;
				<a class="btn" href="@routes.CategoriasDownload.index" >Cancelar</a>
			}
		</div>
	</div>	
}
<script type="text/javascript" src="@routes.Assets.at("tinymce/tiny_mce.js")"></script>
<script type="text/javascript">
$(document).ready(function(){
	$(".navbar .nav:nth-child(1) > li:nth-child(4)").addClass("active");
	
	tinyMCE.init({
		mode : "textareas",
		theme : "simple",
		language: "pt"
	});
});
</script>