@(categorias: List[CategoriaDownload])
@import tags._
@import helper._
@import helpers.SegurancaHelpers.InformacoesUsuarioHelper._

@main {
	<div class="row">
		<div class="span12">
			<div class="page-header" style="overflow:hidden;">
				<h1 style="float:left;">Listagem das Categorias de Downloads</h1>
				
				<div style="float:right; position:relative; top:8px;">
					<a href="@routes.CategoriasDownload.formulario" class="btn btn-primaty"><i class="icon-plus"></i> Cadastrar Nova Categoria de Download</a>
				</div>
			</div>
			
			@if(categorias.size == 0) {
				<h3>Nenhuma Categoria de Download cadastrada.</h3>			
			} else {
				@for(categoria <- categorias) {
					<div class="item-lista">
						<div class="item">
							<h3>
								@categoria.nome
							</h3>
							
							<div style="font-size:12px;">@categoria.downloads.size Download(s) Cadastrado(s)</div>
						</div>
						
						<div style="float:right; padding-top:15px;">
							<a href="@routes.CategoriasDownload.editar(categoria.id)" class="btn"><i class="icon-edit"></i> Editar</a>
							<a href="@routes.CategoriasDownload.deletar(categoria.id)" onclick="return confirm('Deseja realmente excluir a categoria de download &quot;@categoria.nome&quot;?')" class="btn"><i class="icon-remove"></i> Excluir</a>
						</div>
					</div>
				}
			}
		</div>
	</div>	
}

<script type="text/javascript">
$(document).ready(function(){
	$(".navbar .nav:nth-child(1) > li:nth-child(4)").addClass("active");
});
</script>