@(form: Form[Usuario])
@import helper.twitterBootstrap._ 
@import helper.{form=>frm, _}

@main {
	<div class="well" style="width:280px; margin:0 auto;">
	@frm(action = routes.Alunos.cadastrarAluno(), 'style -> "margin:0;", 'class -> "form-horizontal"){
		<fieldset>
			<legend>Criar uma Conta</legend>
	    </fieldset>
    		@inputText(form("nome"), 'id -> "nome", 'class -> "span3", '_label -> "Nome: ", '_showConstraints -> false, '_showErrors -> true)
	    	@inputText(form("email"), 'id -> "email", 'class -> "span3",  '_label -> "Email: ", '_showConstraints -> false, '_showErrors -> true)
	    	@inputText(form("login"), 'id -> "login", 'class -> "span3",  '_label -> "Login: ", '_showConstraints -> false, '_showErrors -> true)
	    	@inputPassword(form("senha"), 'id -> "senha", 'class -> "span3",  '_label -> "Senha: ", '_showConstraints -> false, '_showErrors -> true)
	    	@inputPassword(form("confirmacaoSenha"), 'id -> "confirmacaoSenha", 'class -> "span3", '_label -> "Confirme a Senha: ", '_showConstraints -> false, '_showErrors -> true)
			<button type="submit" class="btn btn-primary">Registrar-me</button>
			&nbsp;
			<a class="btn" href="@routes.Application.index" >Cancelar</a>
	}
	</div>
}

<script type="text/javascript">
	$(document).ready(function(){
		$(".navbar .nav:nth-child(2) > li:nth-child(1)").addClass("active");
	});
</script>