@(form: Form[forms.AlterarUsuarioForm], aluno: Usuario)
@import helper.twitterBootstrap._
@import helper.{form=>frm, _}
@implicitField = @{ FieldConstructor(bootstrap.form.bootstrap.f) }

@main {
	<div class="row">
		<div class="span12">
			<div class="page-header" style="overflow:hidden;">
				<h1 style="float:left;">Edição do Aluno: @aluno.nome</h1>
			</div>
			
			@frm(action = routes.Alunos.editar(aluno.id), 'style -> "margin:0;"){
	    		@inputText(form("nome"), 'id -> "nome", 'class -> "span5", '_label -> "Nome: ", '_showConstraints -> false, '_showErrors -> true)
		    	@inputText(form("email"), 'id -> "email", 'class -> "span5",  '_label -> "Email: ", '_showConstraints -> false, '_showErrors -> true)
		    	
				<button type="submit" class="btn btn-primary">Editar Aluno</button>
				&nbsp;
				<a class="btn" href="@routes.Alunos.index" >Cancelar</a>
			}
			
		</div>
	</div>	
}

<script type="text/javascript">
	$(document).ready(function(){
		$(".navbar .nav:nth-child(1) > li:nth-child(6)").addClass("active");
	});
</script>