@(alunos: List[Usuario])
@import tags._
@import helper._
@import helpers.SegurancaHelpers.InformacoesUsuarioHelper._

@main {
	<div class="row">
		<div class="span12">
			<div class="page-header" style="overflow:hidden;">
				<h1 style="float:left;">Listagem dos Alunos</h1>
				
				<div style="float:right; position:relative; top:8px;">
					<a href="@routes.Alunos.formulario" class="btn"><i class="icon-plus"></i> Cadastrar Novo Aluno</a>
				</div>
			</div>
			
			
			
			@if(alunos.size == 0) {
				<h3>Nenhum Aluno cadastrado.</h3>			
			} else {
				<table class="table table-bordered table-condensed table-striped">
	              <thead>
	                <tr>
	                  <th>Nome</th>
	                  <th>Email</th>
	                  <th>Login</th>
	                  <th>Pontuação Total</th>
	                  <th>Ações</th>
	                </tr>
	              </thead>
	              <tbody>
                	@for(aluno <- alunos) {
	                <tr>
                		<td>@aluno.nome</td>
                		<td>@aluno.email</td>
                		<td>@aluno.login</td>
                		<td style="width:15%;">@getPontuacaoUsuario(aluno.id) ponto(s)</td>
						<td style="width:15%;">
							<a href="@routes.Alunos.formularioEdicao(aluno.id)" class="btn btn-small"><i class="icon-edit"></i> Editar</a>
							<a href="@routes.Alunos.deletar(aluno.id)" onclick="return confirm('Deseja realmente excluir o aluno &quot;@aluno.nome&quot;?')" class="btn btn-small"><i class="icon-remove"></i> Excluir</a>
						</td>
	                </tr>
					}
	              </tbody>
	            </table>
			}
		</div>
	</div>	
}

<script type="text/javascript">
$(document).ready(function(){
	$(".navbar .nav:nth-child(1) > li:nth-child(6)").addClass("active");
});
</script>