.brand {
	width:118px;
	height:14px;
	background:url("/assets/images/logo.png") center 6px no-repeat;
	text-indent:-9000em;
	display:block;
}
input.span4, textarea.span4 {width:280px;}
.help-block, .help-inline {font-size:12px; font-style:italic; color:#999;}

.item-lista {margin-bottom:20px; padding-bottom:20px; border-bottom:1px dashed #dfdfdf; overflow:hidden;}
.item-lista .item {float:left;}
.item-lista:last-child {margin:0; padding:0; border:none;}

#console, #video {
        position: relative; 
        width:100%; 
        height:280px; 
        border:1px solid #eee; 
        background:#f5f5f5; 
        border: 1px solid #eee;
        border: 2px solid rgba(0, 0, 0, 0.05);
        
        -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
            
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.table tbody tr.success td {
  background-color: #dff0d8;
}

.table tbody tr.error td {
  background-color: #f2dede;
}

.table tbody tr.warning td {
  background-color: #fcf8e3;
}

.table tbody tr.info td {
  background-color: #d9edf7;
}

.table-hover tbody tr.success:hover td {
  background-color: #d0e9c6;
}

.table-hover tbody tr.error:hover td {
  background-color: #ebcccc;
}

.table-hover tbody tr.warning:hover td {
  background-color: #faf2cc;
}

.table-hover tbody tr.info:hover td {
  background-color: #c4e3f3;
}