@(formulario: Form[Curso], curso: Curso)
@import tags._
@import helper.twitterBootstrap._
@import helper._

@main {
	<div class="row">
		<div class="span12">
			<div class="page-header">
				<h1>Edição do Curso: @curso.titulo</h1>
			</div>
			
			@form(action = routes.Cursos.editar(curso.id), 'style -> "margin:0;", 'class -> "form-horizontal"){
				@inputText(formulario("titulo"), 'id -> "titulo",'class -> "span6", '_label -> "Título do Curso: ", '_showConstraints -> false, '_showErrors -> true)
				
				<button type="submit" class="btn btn-primary">Editar Curso</button>
				&nbsp;
				<a class="btn" href="@routes.Cursos.index" >Cancelar</a>
			}
			
		</div>
	</div>	
}

<script type="text/javascript">
$(document).ready(function(){
	$(".navbar .nav:nth-child(1) > li:nth-child(2)").addClass("active");
});
</script>