@(formulario: Form[Curso])
@import tags._
@import helper.twitterBootstrap._
@import helper._
@import helper.{FieldConstructor}
@implicitField = @{ FieldConstructor(bootstrap.form.bootstrap.f) }

@main {
	<div class="row">
		<div class="span12">
			<div class="page-header">
				<h1>Cadastro de Curso</h1>
			</div>
			
			@helper.form(action = routes.Cursos.cadastrar(), 'style -> "margin:0;"){
				@helper.inputText(formulario("titulo"), 'id -> "titulo", 'class -> "span6", '_label -> "Título do Curso: ", '_showConstraints -> false, '_showErrors -> true)
				
				<button type="submit" class="btn btn-primary">Cadastrar Curso</button>
				&nbsp;
				<a class="btn" href="@routes.Cursos.index" >Cancelar</a>
			}
			
		</div>
	</div>	
}

<script type="text/javascript">
$(document).ready(function(){
	$(".navbar .nav:nth-child(1) > li:nth-child(2)").addClass("active");
});
</script>