@(cursos: List[Curso])
@import tags._
@import helper._
@import helpers.SegurancaHelpers.InformacoesUsuarioHelper._

@main {
	<div class="row">
		<div class="span12">
			<div class="page-header" style="overflow:hidden;">
				<h1 style="float:left;">Listagem dos Cursos</h1>
				
				@if(isLogado()) {
					@if(getUsuarioLogado().isProfessor) {
					<div style="float:right; position:relative; top:8px;">
						<a href="@routes.Cursos.formulario" class="btn"><i class="icon-plus"></i> Cadastrar Novo Curso</a>
					</div>
					}
				}
			</div>
			
			@if(cursos.size == 0) {
				<h3>Nenhum curso cadastrado.</h3>			
			} else {
				@for(curso <- cursos) {
				<div class="item-lista">
					<div class="item-lista">
						<div class="item">
							<h2>
								<a href="@routes.Cursos.visualizar(curso.id)">
									@curso.titulo
									<small>
										- 
										@if(curso.exercicios.size == 0) {
											Nenhum Exercício Cadastrado.
										} else {
											@curso.exercicios.size Exercícios(s) Cadastrado(s).
										}
									</small>
								</a>
							</h2>
							<div style="font-size:12px;">
								Cadastrado em: <strong>@curso.getDataCadastro</strong> / Autor: <strong>@curso.autor.getNome</strong>
							</div>						
						</div>
						
						<div style="float:right; padding-top:15px;">
							<a href="@routes.Cursos.visualizar(curso.id)" class="btn btn-primary"><i class="icon-white icon-list-alt"></i> Visualizar o Curso</a>
							
							@if(isLogado()) {
								@if(getUsuarioLogado().isProfessor) {
									<a href="@routes.Cursos.editar(curso.id)" class="btn"><i class="icon-edit"></i> Editar</a>
									<a href="@routes.Cursos.deletar(curso.id)" onclick="return confirm('Deseja realmente excluir o curso &quot;@curso.titulo&quot;?')" class="btn"><i class="icon-remove"></i> Excluir</a>
								}
							}
						</div>
					</div>
				</div>
				}
			}
		</div>
	</div>	
}

<script type="text/javascript">
$(document).ready(function(){
	$(".navbar .nav:nth-child(1) > li:nth-child(2)").addClass("active");
});
</script>