@(curso: Curso)
@import tags._
@import helper._
@import helpers.SegurancaHelpers.InformacoesUsuarioHelper._

@main {
	<div class="row">
		<div class="span12">
			<div class="page-header" style="overflow:hidden;">
				<h1 style="float:left;">
					@curso.titulo <br/>
					<small>
						Escrito Por: @curso.autor.getNome
					</small>
				</h1>
				
				@if(isLogado()) {
					@if(getUsuarioLogado().isProfessor) {
					<div style="float:right; position:relative; top:8px;">
						<a href="@routes.Cursos.formulario" class="btn"><i class="icon-plus"></i> Cadastrar Novo Exercício para o Curso</a>
					</div>
					}
				}
			</div>
			
			@if(curso.exercicios.size == 0) {
				<h3>Nenhum Algoritmo Cadastrado para este Curso.</h3>
			} else {
				<div class="row">
				@for(exercicio <- curso.exercicios) {
						<div class="span3 well pull-left">
							<h2>
								<a href="@routes.Exercicios.visualizar(exercicio.id)">
									@exercicio.titulo
								</a>
							</h2>
							
							<div style="height:220px;">
								@Html(exercicio.descricao)
							</div>
							
							<span class="label label-info">Nível: @exercicio.nivelExercicio</span>
							
							@if(isExercicioResolvido(exercicio.id)) {
								<span class="label label-success">Resolvido - @getExercicioResolvido(exercicio.id).pontuacaoObtida Pontos Obtidos!</span>
							} else {
								<span class="badge badge-inverse">@exercicio.pontuacao Pontos</span>
								<span class="label label-important">Pendente!</span>
							}
						</div>
				}
				</div>
			}
		</div>
	</div>	
}

<script type="text/javascript">
$(document).ready(function(){
	$(".navbar .nav:nth-child(1) > li:nth-child(2)").addClass("active");
});
</script>