@(rankingAlunos: TreeMap[Usuario,Integer])
@import tags._
@import helper._
@import helpers.SegurancaHelpers.InformacoesUsuarioHelper._

@main {
	<div class="row">
		<div class="span12">
			<div class="page-header" style="overflow:hidden;">
				<h1 style="float:left;">Ranking dos Alunos</h1>
			</div>
			
			<table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Colocação</th>
                  <th>Nome</th>
                  <th>Exercícios Resolvidos</th>
                  <th>Pontuação Total</th>
                </tr>
              </thead>
              <tbody>
               	@for((ranking, i) <- rankingAlunos.view.zipWithIndex) {
                <tr @if(ranking._1.id == getUsuarioLogado().id) {class="info" style="font-weight: bold; text-decoration:underline;"}>
               		<td style="width:5%;">
               			@{var colocacao = i + 1; colocacao}º
               		</td>
               		<td>@ranking._1.nome</td>
               		<td style="width:15%;">@ranking._1.progresso.size Exercício(s)</td>
               		<td style="width:15%;">@ranking._2 ponto(s)</td>
                </tr>
				}
              </tbody>
            </table>
		</div>
	</div>	
}

<script type="text/javascript">
	$(document).ready(function() {
		$(".navbar .nav:nth-child(1) > li:nth-child(5)").addClass("active");
	});
</script>