@(meuProgresso: List[ExercicioResolvido])
@import tags._
@import helper._
@import helpers.SegurancaHelpers.InformacoesUsuarioHelper._

@main {
	<div class="row">
		<div class="span12">
			<div class="page-header" style="overflow:hidden;">
				<h1 style="float:left;">Meu Progresso</h1>
			</div>
			
			<table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Curso</th>
                  <th>Exercício</th>
                  <th>Pontuação do Exercício</th>
                  <th>Pontuação Obtida</th>
                </tr>
              </thead>
              <tbody>
               	@for(exercicioResolvido <- meuProgresso) {
                <tr>
               		<td style="width:30%;">
               			@exercicioResolvido.exercicio.getCurso.getTitulo
               		</td>
               		<td>@exercicioResolvido.exercicio.getTitulo</td>
               		<td style="width:15%;">@exercicioResolvido.exercicio.getPontuacao Pontos</td>
               		<td style="width:15%;">@exercicioResolvido.pontuacaoObtida Pontos</td>
                </tr>
				}
              </tbody>
            </table>
		</div>
	</div>	
}

<script type="text/javascript">
$(document).ready(function(){
	$(".navbar .nav:nth-child(1) > li:nth-child(5)").addClass("active");
});
</script>