@main {
<div class="row">
	<div class="span9">
		<div class="page-header">
			<h1>Equipe - PotigolCode</h1>
		</div>

		<p>Lorem Ipsum é simplesmente uma simulação de texto da indústria
		tipográfica e de impressos, e vem sendo utilizado desde o século XVI,
		quando um impressor desconhecido pegou uma bandeja de tipos e os
		embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum
		sobreviveu não só a cinco séculos, como também ao salto para a
		editoração eletrônica, permanecendo essencialmente inalterado. Se
		popularizou na década de 60, quando a Letraset lançou decalques
		contendo passagens de Lorem Ipsum, e mais recentemente quando passou
		a ser integrado a softwares de editoração eletrônica como Aldus
		PageMaker.</p>
	</div>
	<div class="span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li class="nav-header">A Linguagem Potigol</li>
				<li><a href="@routes.Sobre.historia">História</a></li>
				<li><a href="@routes.Sobre.documentacao">Documentação</a></li>
				<li><a href="@routes.Sobre.equipePotigol">Equipe</a></li>
				<li class="nav-header">O PotigolCode</li>
				<li><a href="@routes.Sobre.oProjeto">O Projeto</a></li>
				<li class="active"><a href="@routes.Sobre.equipePotigolCode">Equipe</a></li>
			</ul>
		</div>
	</div>
</div>
}

<script type="text/javascript">
	$(document).ready(function(){
		$(".navbar .nav:nth-child(1) > li:nth-child(2)").addClass("active");
	});
</script>