@(formulario: Form[forms.AlterarUsuarioForm], professor: Usuario)
@import helper.twitterBootstrap._
@import helper._
@import helper.{FieldConstructor}
@implicitField = @{ FieldConstructor(bootstrap.form.bootstrap.f) }

@main {
	<div class="row">
		<div class="span12">
			<div class="page-header" style="overflow:hidden;">
				<h1 style="float:left;">Edição do Professor: @professor.nome</h1>
			</div>
			
			@helper.form(action = routes.Professores.editar(professor.id), 'style -> "margin:0;"){
	    		@helper.inputText(formulario("nome"), 'id -> "nome", 'class -> "span5", '_label -> "Nome: ", '_showConstraints -> false, '_showErrors -> true)
		    	@helper.inputText(formulario("email"), 'id -> "email", 'class -> "span5",  '_label -> "Email: ", '_showConstraints -> false, '_showErrors -> true)
		    	
				<button type="submit" class="btn btn-primary">Editar Professor</button>
				&nbsp;
				<a class="btn" href="@routes.Professores.index" >Cancelar</a>
			}
			
		</div>
	</div>	
}

<script type="text/javascript">
	$(document).ready(function(){
		$(".navbar .nav:nth-child(1) > li:nth-child(6)").addClass("active");
	});
</script>