@(formulario: Form[Usuario])
@import helper.twitterBootstrap._
@import helper._
@import helper.{FieldConstructor}
@implicitField = @{ FieldConstructor(bootstrap.form.bootstrap.f) }

@main {
	<div class="row">
		<div class="span12">
			<div class="page-header" style="overflow:hidden;">
				<h1 style="float:left;">Cadastro de Professor</h1>
			</div>
			
			@helper.form(action = routes.Professores.cadastrar(), 'style -> "margin:0;"){
	    		@helper.inputText(formulario("nome"), 'id -> "nome", 'class -> "span5", '_label -> "Nome: ", '_showConstraints -> false, '_showErrors -> true)
		    	@helper.inputText(formulario("email"), 'id -> "email", 'class -> "span5",  '_label -> "Email: ", '_showConstraints -> false, '_showErrors -> true)
		    	@helper.inputText(formulario("login"), 'id -> "login", 'class -> "span5",  '_label -> "Login: ", '_showConstraints -> false, '_showErrors -> true)
		    	@helper.inputPassword(formulario("senha"), 'id -> "senha", 'class -> "span5",  '_label -> "Senha: ", '_showConstraints -> false, '_showErrors -> true)
		    	@helper.inputPassword(formulario("confirmacaoSenha"), 'id -> "confirmacaoSenha", 'class -> "span5", '_label -> "Confirme a Senha: ", '_showConstraints -> false, '_showErrors -> true)
				
				<button type="submit" class="btn btn-primary">Cadastrar Professor</button>
				&nbsp;
				<a class="btn" href="@routes.Professores.index" >Cancelar</a>
			}
			
		</div>
	</div>	
}

<script type="text/javascript">
	$(document).ready(function(){
		$(".navbar .nav:nth-child(1) > li:nth-child(6)").addClass("active");
	});
</script>