<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a data-target=".nav-collapse" data-toggle="collapse"
				class="btn btn-navbar"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a> <a href="@routes.Application.index" class="brand">PotigolCode</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li><a href="@routes.Application.index">Home</a></li>
					<li class="dropdown"><a data-toggle="dropdown"
						class="dropdown-toggle" href="#">Sobre <b class="caret"></b></a>
						<ul class="dropdown-menu" style="width: 180px;">
							<li class="nav-header">A linguagem Potigol</li>
							<li><a href="@routes.Sobre.historia">História</a></li>
							<li><a href="@routes.Sobre.documentacao">Documentação</a></li>
							<li><a href="@routes.Sobre.equipePotigol">Equipe</a></li>

							<li class="nav-header">O PotiCode</li>
							<li><a href="@routes.Sobre.oProjeto">O Projeto</a></li>
							<li><a href="@routes.Sobre.equipePotigolCode">Equipe</a></li>
						</ul>
					</li>
					<li><a href="@routes.Application.downloads">Downloads</a></li>
					<li><a href="@routes.Application.contato">Contato</a></li>
				</ul>
				<ul class="nav pull-right">
					<li><a href="@routes.Alunos.formRegistro">Registrar-se</a></li>
					<li class="divider-vertical"></li>
					<li><a href="@routes.Sessions.login">Acessar Minha Conta</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>