@import helpers.SegurancaHelpers.InformacoesUsuarioHelper._

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a data-target=".nav-collapse" data-toggle="collapse"
				class="btn btn-navbar"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a> <a href="@routes.Application.index" class="brand">PotigolCode</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li><a href="@routes.Application.index">Home</a></li>
					<li class="dropdown"><a data-toggle="dropdown"
						class="dropdown-toggle" href="#">Cursos <b class="caret"></b></a>
						<ul class="dropdown-menu" style="width: 180px;">
							<li><a href="@routes.Cursos.index">Visualizar Cursos</a></li>
						</ul>
					</li>
					<li><a href="@routes.Application.downloads">Downloads</a></li>
					<li class="dropdown"><a data-toggle="dropdown"
						class="dropdown-toggle" href="#">Glossários <b class="caret"></b></a>
						<ul class="dropdown-menu" style="width: 180px;">
							<li><a href="@routes.Glossarios.index">Visualizar Glossários</a></li>
						</ul>
					</li>
					<li class="dropdown"><a data-toggle="dropdown"
						class="dropdown-toggle" href="#">Ranking <b class="caret"></b></a>
						<ul class="dropdown-menu" style="width: 180px;">
							<li><a href="@routes.Ranking.index">Visualizar Ranking</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav pull-right">
					<li>
						<a href="javascript:void(0)" style="color:#fff;">
							Total de Pontos: @getPontuacaoUsuario()
						</a>	
					</li>
					<li class="divider-vertical"></li>
					<li class="dropdown">
		            	<a data-toggle="dropdown" class="dropdown-toggle" href="#">
		            		<strong>@getUsuarioLogado().nome</strong> <span class="caret"></span>
		            	</a>
		             	<ul class="dropdown-menu" style="width:200px;">
			                <li class="nav-header"><i class="icon-user"></i> Minha Conta</li>
			                <li><a href="@routes.Ranking.meuProgresso">Ver meu Progresso</a></li>
			                <li><a href="@routes.Sessions.formularioAlteracaoSenha">Alterar minha Senha</a></li>
			                
			                <li class="divider"></li>
			                <li><a href="@routes.Sessions.efetuarLogoff">Sair da Minha Conta</a></li>
		              	</ul>
		          	</li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>