@import helpers.SegurancaHelpers.InformacoesUsuarioHelper._

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a data-target=".nav-collapse" data-toggle="collapse"
				class="btn btn-navbar"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a> <a href="@routes.Administracao.index" class="brand">PotigolCode</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li><a href="@routes.Administracao.index">Home</a></li>
					<li class="dropdown"><a data-toggle="dropdown"
						class="dropdown-toggle" href="#">Cursos <b class="caret"></b></a>
						<ul class="dropdown-menu" style="width: 180px;">
							<li><a href="@routes.Cursos.index">Visualizar Cursos</a></li>
							<li><a href="@routes.Cursos.formulario">Cadastrar Curso</a></li>
						</ul>
					</li>
					<li class="dropdown"><a data-toggle="dropdown"
						class="dropdown-toggle" href="#">Exercícios <b class="caret"></b></a>
						<ul class="dropdown-menu" style="width: 180px;">
							<li><a href="@routes.Exercicios.index">Visualizar Exercícios</a></li>
							<li><a href="@routes.Exercicios.formulario">Cadastrar Exercício</a></li>
						</ul>
					</li>
					<li class="dropdown"><a data-toggle="dropdown"
						class="dropdown-toggle" href="#">Downloads <b class="caret"></b></a>
						<ul class="dropdown-menu" style="width: 180px;">
							<li><a href="@routes.Downloads.index">Visualizar Downloads</a></li>
							<li><a href="@routes.Downloads.formulario">Cadastrar Download</a></li>
							<li class="nav-header">Categorias</li>
							<li><a href="@routes.CategoriasDownload.index">Visualizar Categorias</a></li>
							<li><a href="@routes.CategoriasDownload.formulario">Cadastrar Categoria</a></li>
						</ul>
					</li>
					<li class="dropdown"><a data-toggle="dropdown"
						class="dropdown-toggle" href="#">Glossário <b class="caret"></b></a>
						<ul class="dropdown-menu" style="width: 180px;">
							<li><a href="@routes.Glossarios.index">Visualizar Glossário</a></li>
							<li><a href="@routes.Glossarios.formulario">Cadastrar Glossário</a></li>
						</ul>
					</li>
					<li class="dropdown"><a data-toggle="dropdown"
						class="dropdown-toggle" href="#">Usuários <b class="caret"></b></a>
						<ul class="dropdown-menu" style="width: 180px;">
							<li class="nav-header">Alunos</li>
							<li><a href="@routes.Alunos.index">Visualizar Alunos</a></li>
							<li><a href="@routes.Alunos.formulario">Cadastrar Aluno</a></li>
							<li class="nav-header">Professores</li>
							<li><a href="@routes.Professores.index">Visualizar Professores</a></li>
							<li><a href="@routes.Professores.formulario">Cadastrar Professor</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav pull-right">
					<li class="dropdown">
		            	<a data-toggle="dropdown" class="dropdown-toggle" href="#">
		            		<strong>@getUsuarioLogado().nome</strong> <span class="caret"></span>
		            	</a>
		             	<ul class="dropdown-menu" style="width:200px;">
			                <li class="nav-header"><i class="icon-user"></i> Minha Conta</li>
			                <li><a href="@routes.Sessions.formularioAlteracaoSenha">Alterar minha Senha</a></li>
			                
			                <li class="divider"></li>
			                <li><a href="@routes.Sessions.efetuarLogoff">Sair da minha conta</a></li>
		              	</ul>
		          	</li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>