@(usuario: Usuario)

@layoutEmail {
	<p>Olá <strong>@usuario.nome</strong>,</p>
	<p>
		informamos que sua conta no PotigolCode foi desativada pelo Administrador.<br/>
	</p>
	
	<br/>
	<p>
		Atenciosamente, <br/> 
		Equipe PotigolCode
	</p>
}
