@(usuario: Usuario)

@layoutEmail {
	<p>Olá <strong>@usuario.nome</strong>, seu cadastro no PotigolCode foi criado com sucesso!</p>
	<p>
		Para poder desfrutar de todas as funcionalidades do sistema é preciso ativar sua conta.<br/>
		Clique no link abaixo para ativa-la agora mesmo!<br/>
		
		<a href="@routes.Sessions.ativarConta(usuario.email).absoluteURL(request)">@routes.Sessions.ativarConta(usuario.email).absoluteURL(request)</a>
	</p>
	
	<br/>
	<p>
		Atenciosamente, <br/> 
		Equipe PotigolCode
	</p>
}
