@(usuario: Usuario, novaSenha: String)
@import helpers.SegurancaHelpers.InformacoesUsuarioHelper._

@layoutEmail {
	<p>Olá <strong>@usuario.nome</strong>.</p>
	
	<p>
		Sua senha foi redefinida com sucesso.<br/><br/>
		
		Sua nova senha é: <strong>@novaSenha</strong> <br/><br/>
		
		Para acessar a página de login clique no link abaixo: <br/>
		<a href="@routes.Sessions.login.absoluteURL(request)">@routes.Sessions.login.absoluteURL(request)</a>
		
	</p>
	<br/>
	<p>
		Atenciosamente, <br/> 
		Equipe PotigolCode
	</p>
}