@(usuario: Usuario)
@import helpers.SegurancaHelpers.InformacoesUsuarioHelper._

@layoutEmail {
	<p>Olá <strong>@usuario.nome</strong>.</p>
	
	<p>
		Você solicitou a redefinição da sua senha. Para resetar sua senha clique no link abaixo:<br/>
		<a href="@routes.Sessions.redefinirSenha(usuario.chaveRedefinicaoSenha).absoluteURL(request)">@routes.Sessions.redefinirSenha(usuario.chaveRedefinicaoSenha).absoluteURL(request)</a>
	</p>
	<br/>
	<p>
		Atenciosamente, <br/> 
		Equipe PotigolCode
	</p>
}