@(formulario: Form[CapituloGlossario], capitulo: CapituloGlossario)
@import tags._
@import helpers.SegurancaHelpers.InformacoesUsuarioHelper._

@import helper.twitterBootstrap._
@import helper.{form=> frm, _}
@implicitField = @{ FieldConstructor(bootstrap.form.bootstrap.f) }


@main {
	<div class="row">
		<div class="span12">
			<div class="page-header" style="overflow:hidden;">
				<h1 style="float:left;">Edição do Capítulo: @capitulo.titulo</h1>
			</div>
			
			@frm(action = routes.CapitulosGlossario.editar(capitulo.id), 'style -> "margin:0;"){
				@inputText(formulario("titulo"), 'id -> "titulo", 'class -> "span12", '_label -> "Título do Capítulo: ", '_showConstraints -> false, '_showErrors -> true)
				@textarea(formulario("conteudo"), 'id -> "conteudo", 'rows -> "15", 'class -> "span12", '_label -> "Conteúdo: ", '_showConstraints -> false, '_showErrors -> true)
				
				<button type="submit" class="btn btn-primary">Editar Capítulo</button>
				&nbsp;
				<a class="btn" href="@routes.Glossarios.visualizar(capitulo.glossario.id)" >Cancelar</a>
			}
		</div>
	</div>	
}
<script type="text/javascript" src="@routes.Assets.at("tinymce/tiny_mce.js")"></script>
<script type="text/javascript">
$(document).ready(function(){
	@if(isLogado()) {
		@if(getUsuarioLogado().isProfessor) {
			$(".navbar .nav:nth-child(1) > li:nth-child(5)").addClass("active");
		} else {
			$(".navbar .nav:nth-child(1) > li:nth-child(4)").addClass("active");
		}
	}
	
	tinyMCE.init({
		mode : "textareas",
		language: "pt"
	});
});
</script>