@(usuario: Usuario, exercicio: Exercicio, titulo:String, mensagem: String)

@layoutEmail {
	<p>
		<strong>Nome do Aluno:</strong> @usuario.nome <br/>
		<strong>Email:</strong> @usuario.email <br/><br/>
		
		<strong>Título do Curso:</strong> @exercicio.curso.getTitulo <br/>
		<strong>Título do Exercício:</strong> @exercicio.titulo <br/><br/>
		
		<strong>Título:</strong> @titulo <br/>
		<strong>Mensagem:</strong> @mensagem <br/>
	</p>
}
