@(nome: String, email: String, twitter: String, mensagem: String)

@layoutEmail {
	<p>
		<strong>Nome:</strong> @nome <br/>
		<strong>Email:</strong> @email <br/>
		<strong>Twitter:</strong> @twitter <br/>
		<strong>Mensagem:</strong> @mensagem <br/>
	</p>
}
