@(nome: String)

@layoutEmail {
	<p>
		Olá <strong>@nome</strong>.<br/><br/> 
		
		Entraremos em contato com você o mais breve possível.<br/>
		
		Obrigado por entrar em contato conosco.
	</p>
	
	<p>
		Atenciosamente, <br/> 
		Equipe PotigolCode
	</p>
}
