@(formulario: Form[Glossario])
@import tags._
@import helpers.SegurancaHelpers.InformacoesUsuarioHelper._

@import helper.twitterBootstrap._
@import helper._
@import helper.{FieldConstructor}
@implicitField = @{ FieldConstructor(bootstrap.form.bootstrap.f) }

@main {
	<div class="row">
		<div class="span12">
			<div class="page-header" style="overflow:hidden;">
				<h1 style="float:left;">Cadastro de Glossário</h1>
			</div>
			
			@helper.form(action = routes.Glossarios.cadastrar(), 'style -> "margin:0;"){
				@helper.inputText(formulario("titulo"), 'id -> "titulo", 'class -> "span12", '_label -> "Título do Glossário: ", '_showConstraints -> false, '_showErrors -> true)
				@helper.textarea(formulario("descricao"), 'id -> "descricao", 'rows -> "15", 'class -> "span12", '_label -> "Descrição: ", '_showConstraints -> false, '_showErrors -> true)
				
				<button type="submit" class="btn btn-primary">Cadastrar Glossário</button>
				&nbsp;
				<a class="btn" href="@routes.Glossarios.index" >Cancelar</a>
			}
		</div>
	</div>	
}
<script type="text/javascript" src="@routes.Assets.at("tinymce/tiny_mce.js")"></script>
<script type="text/javascript">
$(document).ready(function(){
	@if(isLogado()) {
		@if(getUsuarioLogado().isProfessor) {
			$(".navbar .nav:nth-child(1) > li:nth-child(5)").addClass("active");
		} else {
			$(".navbar .nav:nth-child(1) > li:nth-child(4)").addClass("active");
		}
	}
	
	tinyMCE.init({
		mode : "textareas",
		language: "pt"
	});
});
</script>