@(glossarios: List[Glossario])
@import tags._
@import helper._
@import helpers.SegurancaHelpers.InformacoesUsuarioHelper._

@main {
	<div class="row">
		<div class="span12">
			<div class="page-header" style="overflow:hidden;">
				<h1 style="float:left;">Glossários</h1>
				
				@if(isLogado()) {
					@if(getUsuarioLogado().isProfessor) {
					<div style="float:right; position:relative; top:8px;">
						<a href="@routes.Glossarios.formulario" class="btn btn-primaty"><i class="icon-plus"></i> Cadastrar Novo Glossário</a>
					</div>
					}
				}
			</div>
			
			@if(glossarios.size == 0) {
				<h3>Nenhum Glossário cadastrado.</h3>			
			} else {
				@for(glossario <- glossarios) {
				<div class="item-lista">
					<div class="item-lista">
						<div class="item">
							<h2>
								<a href="@routes.Glossarios.visualizar(glossario.id)">
									@glossario.titulo
									<small>
										- 
										@if(glossario.capitulos.size == 0) {
											Nenhum Capítulo Cadastrado.
										} else {
											@glossario.capitulos.size Capítulos(s) Cadastrado(s).
										}
									</small>
								</a>
							</h2>
							<div style="font-size:12px;">
								Cadastrado em: <strong>@glossario.getDataCadastro</strong> / Autor: <strong>@glossario.autor.getNome</strong>
							</div>						
						</div>
						
						<div style="float:right; padding-top:15px;">
							<a href="@routes.Glossarios.visualizar(glossario.id)" class="btn btn-primary"><i class="icon-white icon-list-alt"></i> Visualizar o Glossário</a>
							
							@if(isLogado()) {
								@if(getUsuarioLogado().isProfessor) {
									<a href="@routes.Glossarios.editar(glossario.id)" class="btn"><i class="icon-edit"></i> Editar</a>
									<a href="@routes.Glossarios.deletar(glossario.id)" onclick="return confirm('Deseja realmente excluir o glossário &quot;@glossario.titulo&quot;?')" class="btn"><i class="icon-remove"></i> Excluir</a>
								}
							}
						</div>
					</div>
				</div>
				}
			}
		</div>
	</div>	
}

<script type="text/javascript">
$(document).ready(function(){
	@if(isLogado()) {
		@if(getUsuarioLogado().isProfessor) {
			$(".navbar .nav:nth-child(1) > li:nth-child(5)").addClass("active");
		} else {
			$(".navbar .nav:nth-child(1) > li:nth-child(4)").addClass("active");
		}
	}
});
</script>