@(glossario: Glossario)
@import tags._
@import helper._
@import helpers.SegurancaHelpers.InformacoesUsuarioHelper._

@main {
	<div class="row">
		<div class="span12">
			<div class="page-header" style="overflow:hidden;">
				<h1 style="float:left;">@glossario.titulo</h1>
				
				@if(isLogado()) {
					@if(getUsuarioLogado().isProfessor) {
					<div style="float:right; position:relative; top:8px;">
						<a href="@routes.CapitulosGlossario.formulario(glossario.id)" class="btn btn-primaty"><i class="icon-plus"></i> Cadastrar Novo Capítulo para o Glossário</a>
					</div>
					}
				}
			</div>
			
			<div class="row">
				<div class="span7">
					<div>
						@Html(glossario.descricao)
						
						@for(capitulo <- glossario.capitulos) {
						<div class="row" id="capitulo@capitulo.id">
							<div class="span7">
									<div class="page-header" style="overflow:hidden;">
										<h3 style="float:left;">@capitulo.titulo</h3>
										
										@if(isLogado()) {
											@if(getUsuarioLogado().isProfessor) {
											<div style="float:right; position:relative; top:8px;">
												<a href="@routes.CapitulosGlossario.formularioEdicao(capitulo.id)" class="btn"><i class="icon-edit"></i> Editar</a>
												&nbsp;
												<a href="@routes.CapitulosGlossario.deletar(capitulo.id)"  onclick="return confirm('Deseja realmente excluir o capítulo &quot;@capitulo.titulo&quot;?')" class="btn"><i class="icon-remove"></i> Excluir</a>
											</div>
											}
										}
									</div>
									
									@Html(capitulo.conteudo)
							</div>
						</div>
						}
					</div>
				</div>
				
				<div class="span4 offset1">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header"><i class="icon-list"></i> Capítulos <br/></li>
							<li class="divider"></li>
							@if(glossario.capitulos.size == 0) {
								<li>Nenhum capítulo cadastrado.</li>
							} else {
								@for(capitulo <- glossario.capitulos) {
									<li><a href="#capitulo@capitulo.id">@capitulo.titulo</a></li>
								}
							}
						</ul>
					</div>
				</div>
			</div>
			<!-- TODO: Implementar listagem da descrição e dos capítulos -->
		</div>
	</div>	
}

<script type="text/javascript">
$(document).ready(function(){
	@if(isLogado()) {
		@if(getUsuarioLogado().isProfessor) {
			$(".navbar .nav:nth-child(1) > li:nth-child(5)").addClass("active");
		} else {
			$(".navbar .nav:nth-child(1) > li:nth-child(4)").addClass("active");
		}
	}
});
</script>