@(form: Form[forms.ContatoForm])

@import helper.twitterBootstrap._
@import helper.{form=>frm,_}

@main {
	<div class="well" style="width:280px; margin:0 auto;">

	@frm(action = routes.Application.enviarContato(), 'style -> "margin:0;") {
		<fieldset>
			<legend>Entrar em Contato</legend>

    		@inputText(form("nome"), 'class -> "span3", '_label -> "Nome: ")
    		@inputText(form("email"), 'class -> "span3", '_label -> "Email: ")
    		@inputText(form("twitter"), 'class -> "span3", '_label -> "Twitter: ")
			@textarea(form("mensagem"), 'rows -> "5", 'class -> "span3", '_label -> "Mensagem: ")

			<input type="submit" value="Enviar!" class="btn btn-primary">
    	</fieldeset>
	}
	</div>
}

<script type="text/javascript">
	$(document).ready(function(){
		$(".navbar .nav:nth-child(1) > li:nth-child(4)").addClass("active");
	});
</script>