@(downloads: List[Download], categorias: List[CategoriaDownload], categoriaSelecionada: Option[CategoriaDownload] = None)
@main {
	<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1>Downloads</h1> 
		</div>
		
		<div class="row">
			<div class="span7">
			@if(downloads.isEmpty) {
				<h3>Nenhum Download cadastrado.</h3>			
			} else {
				@for(download <- downloads) {
					<div class="item-lista">
						<div class="item">
							<h3>
								<a href="@download.url">@download.nome</a>
							</h3>
							<div style="font-size:12px;">Categoria: @download.categoria.getNome</div>						
						</div>
						
						<div style="float:right; padding-top:15px;">
							<a href="@download.url" target="_blank" class="btn btn-primary"><i class="icon-white icon-download-alt"></i> Fazer o Download</a>
						</div>
					</div>
				}
			}
			</div>
			
			<div class="span4 offset1">
				<div class="well sidebar-nav">
					<ul class="nav nav-list"> 
						<li class="nav-header"><i class="icon-download-alt"></i> Categorias</li>
										
						<li @if(categoriaSelecionada.isEmpty){class="active"}>
							<a href="@routes.Application.downloads()">Todas (@downloads.size)</a>						  
						</li> 
						
						@for(categoria <- categorias) {	
							<li @categoriaSelecionada match {
								case Some(c) if c.id == categoria.id => {class="active"}
								case _ => {}
							} >
							  <a href="@routes.Application.downloadsPorCategoria(categoria.id)">@categoria.nome(categoria.downloads.size)</a>
							</li>
						}
					</ul>
				</div>
			</div>
		</div>
	</div>
	</div>	
}

<script type="text/javascript">
	$(document).ready(function() {
		$(".navbar .nav:nth-child(1) > li:nth-child(3)").addClass("active");
	});
</script>