@import tags._
@import helpers.SegurancaHelpers.InformacoesUsuarioHelper._

@main {
	<div class="row">
		<div class="span4" style="padding:50px 0 60px 0;">
			<h1 class="titulo" style="font-size:26px; margin-bottom:20px;">
			<br/>Aprenda a Programar</h1>
			<h3 style="font-weight:normal;  margin-bottom:20px;">
				O PotigolCode é uma maneira fácil, rápida e interativa para aprender a programar utilizando a linguagem Potigol.
			</h3>
			
			@if(!isLogado()) {
				<br/>
				<a href="@routes.Alunos.formRegistro" class="btn-large btn-primary">Registre-se!</a> &nbsp;
				<a href="@routes.Sessions.login" class="btn-large btn-inverse">Acessar Minha Conta</a>
			}
		</div>
		<div class="span7 offset1">
			<div id="video" style="height:380px;">
				<video style="width:100%; " src="@routes.Assets.at("videos/area_restrita.m4v")" controls="controls">
				</video>
			</div>
		</div>
	</div>
	<br/><br/>
	<div class="row">
		<div class="span4">
			<div style="text-align:center;">
				<div class="well" style="min-height:120px;">
					<img style="padding:24.5px 0;" src="@routes.Assets.at("images/quadro01.jpg")" />
				</div>
				<h3>Programar nunca foi tão fácil!</h3>
				<p>Potigol: uma linguagem multi-paradigma para o ensino de algoritmos e técnicas de programação.</p>
			</div>
		</div>
		<div class="span4">
			<div style="text-align:center;">
				<div class="well" style="min-height:120px;">
					<img style="padding-top:10px;" src="@routes.Assets.at("images/quadro02.jpg")" />
				</div>
				<h3>Avaliação e Feedback automáticos!</h3>
				<p>Receba o feedback automaticamente, em poucos segundos, das suas respostas enviadas!</p>
			</div>	
		</div>
		<div class="span4">
			<div style="text-align:center;">
				<div class="well" style="min-height:120px;">
					<img src="@routes.Assets.at("images/quadro03.jpg")" />
				</div>
				<h3>Monitore o seu progresso!</h3>
				<p>Comece a aprender e não pare mais. Veja o seu progresso e continue motivado para continuar!</p>
			</div>
		</div>
	</div>
}